<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Detail Barang</h4>
          <div class="form-group">
            <label class="mb-2"> Nomor</label>
            <input
              type="text"
              class="form-control"
              name="nomor"
              [(ngModel)]="barang.nomor"
              disabled
            />
          </div>
          <div class="form-group">
            <label class="mb-2"> Nama Barang</label>
            <input
              type="text"
              class="form-control"
              name="nama"
              [(ngModel)]="barang.nama"
              disabled
            />
          </div>
          <div class="form-group">
            <label class="mb-2"> Satuan</label>
            <input
              type="text"
              class="form-control"
              name="satuan"
              [(ngModel)]="barang.satuan"
              disabled
            />
          </div>
          <div class="form-group">
            <label class="mb-2"> Harga Barang</label>
            <input
              type="text"
              class="form-control"
              name="hargaJual"
              [(ngModel)]="barang.hargaJual"
              disabled
            />
          </div>
          <div class="form-group">
            <label class="mb-2"> Stok Barang</label>
            <input
              type="text"
              class="form-control"
              name="stok"
              [(ngModel)]="barang.stok"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
