<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Edit Customer {{ customer.nama }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (keyup.enter)="modal.close('Save click'); onUpdate()">
      <div class="form-group mb-3">
        <label class="mb-2"> Nomor Customer </label>
        <input
          type="text"
          class="form-control"
          name="nomor"
          [(ngModel)]="customer.nomor"
        />
      </div>

      <div class="form-group mb-3">
        <label class="mb-2"> Nama Customer </label>
        <input
          type="text"
          class="form-control"
          name="nama"
          [(ngModel)]="customer.nama"
        />
      </div>
      <div class="form-group mb-3">
        <label class="mb-2"> Alamat </label>
        <input
          type="text"
          class="form-control"
          name="alamat"
          [(ngModel)]="customer.alamat"
        />
      </div>

      <div class="form-group mb-3">
        <label class="mb-2">telepon</label>
        <input
          type="text"
          class="form-control"
          name="telepon"
          [(ngModel)]="customer.telepon"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click'); onUpdate()"
    >
      Save
    </button>
  </div>
</ng-template>
<button class="btn btn-dark" (click)="open(content)">Edit</button>
